# This is Git's per-user configuration file.
[user]
    name = Zoltan Podolyak
    email = zoltan.podolyak@redfrond.com
[alias]
    br = branch
    co = checkout
    st = status
    pl = pull --rebase
[core]
    autocrlf = false
    editor = code --wait
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[init]
    defaultBranch = master
